<!-- Modal Price -->
<div class="modal fade" id="modal--price-1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="filter-service">
          <input class="sr-only" type="radio" name="service" id="service-1" value="Химчистка" checked>
          <label class="filter-service-btn" for="service-1">Химчистка</label>
          <input class="sr-only" type="radio" name="service" id="service-2" value="Ремонт">
          <label class="filter-service-btn" for="service-2">Ремонт</label>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="nav nav-tabs" role="tablist">
            <a class="nav-item" data-toggle="tab" role="tab" href="#price-3">Обувь</a>
            <a class="nav-item active" data-toggle="tab" role="tab" href="#price-1">Одежда</a>
            <a class="nav-item" data-toggle="tab" role="tab" href="#price-2">Сумки</a>
          </div>
          <div class="tab-content">
            <div class="price-list tab-pane fade show active" id="price-1" role="tabpanel">
              <a href="#" class="price-item">
                Пальто
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Дубленка
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Шуба
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Пальто
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Дубленка
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Шуба
                <span class="price-item-value">от 3000 ₽</span>
              </a>
            </div>
            <div class="price-list tab-pane fade" id="price-2" role="tabpanel">
              <a href="#" class="price-item">
                Ручная чистка сумок до 30см (простые)
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Ручная чистка сумок от 30см (простые)
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Ручная чистка сумок до 30см (сложные)
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Ручная чистка сумок от 30см (сложные)
                <span class="price-item-value">от 3000 ₽</span>
              </a>
            </div>
            <div class="price-list tab-pane fade" id="price-3" role="tabpanel">
              <a href="#" class="price-item">
                Химчистка обуви из ткани
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Химчистка обуви из замши
                <span class="price-item-value">от 3000 ₽</span>
              </a>
              <a href="#" class="price-item">
                Химчистка обуви из кожи
                <span class="price-item-value">от 3000 ₽</span>
              </a>
            </div>
          </div>
          <p class="text">При наличии факторов, усложняющих процесс чистки, возможно изменение цены. Мы обязательно согласуем с Вами стоимость перед началом чистки.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--fill">Оформить заказ</button>
        </div>
      </form>
    </div>
  </div>
</div>