<section class="section sale">
  <div class="container">
    <div class="row">
      <h2 class="h1 col text-center">Акции</h2>
    </div>
    <div class="row sale-list">
      <div class="col-lg-4">
        <div class="sale-item">
          <div class="sale-item-inner">
            Весь июль
            <span class="sale-item-bold">10% скидка</span>
            на все услуги химчистки
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sale-item">
          <div class="sale-item-inner">
            Весь июль
            <span class="sale-item-bold">20% скидка</span>
            при заказе свыше 5 позиций
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sale-item">
          <div class="sale-item-inner">
            Доставка заказов
            <span class="sale-item-bold">Бесплатно</span>
            Заберём и привезем в любое удобное время
          </div>
        </div>
      </div>
    </div>
  </div>
</section>